<div class="container">
  <app-cockpit></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- Here [element] is a custom property (it can be given any name here as well as in the server-element.ts) , 
        and its type is described in server-lement.component.ts and is accessebile here by @Input that is enabled in 
        the server-element to expose it. -->
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
